@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply bg-white-100 text-black-800 font-manrope text-sm leading-[175%];
  }
}

@theme {
  --font-manrope: "Manrope", "sans-serif";
  --color-*: initial;

  --color-primary-900: #4078ff;
  --color-primary-800: #5c83ff;
  --color-primary-700: #728fff;
  --color-primary-600: #869aff;
  --color-primary-500: #97a6ff;
  --color-primary-400: #a8b2ff;
  --color-primary-300: #b7bfff;
  --color-primary-200: #e3e5ff;
  --color-primary-100: #f0f1ff;

  --color-black-900: #0e1422;
  --color-black-800: #202533;
  --color-black-700: #333845;
  --color-black-600: #474b57;
  --color-black-500: #5c5f6a;
  --color-black-400: #71747e;
  --color-black-300: #878a92;
  --color-black-200: #b6b7bc;
  --color-black-100: #e6e7e8;

  --color-white-900: #fff;
  --color-white-200: #e9e9eb;
  --color-white-100: #f6f6f6;

  --color-blue-900: #306cef;
  --color-blue-800: #477cf1;
  --color-blue-700: #5e8cf3;
  --color-blue-600: #759df4;
  --color-blue-500: #8cadf6;
  --color-blue-400: #a3bef8;
  --color-blue-300: #bacefa;
  --color-blue-200: #d1defb;
  --color-blue-100: #e8effd;

  --color-green-900: #057234;
  --color-green-800: #2c7f45;
  --color-green-700: #458b56;
  --color-green-600: #5a9868;
  --color-green-500: #6fa479;
  --color-green-400: #83b18b;
  --color-green-300: #98be9e;
  --color-green-200: #c1d8c4;
  --color-green-100: #d5e5d7;

  --color-red-900: #be1313;
  --color-red-800: #c83727;
  --color-red-700: #d14f3a;
  --color-red-600: #d9644e;
  --color-red-500: #e17862;
  --color-red-400: #e88c77;
  --color-red-300: #ee9f8d;
  --color-red-200: #f8c5b9;
  --color-red-100: #fbd9d0;

  --color-yellow-900: #f3b40a;
  --color-yellow-800: #f6bb33;
  --color-yellow-700: #f9c14c;
  --color-yellow-600: #fbc862;
  --color-yellow-500: #fdcf76;
  --color-yellow-400: #ffd58a;
  --color-yellow-300: #ffdc9e;
  --color-yellow-200: #ffeac4;
  --color-yellow-100: #fff1d8;

  --container-8xl:                
;
}
